@model IEnumerable<SolCreditBanking.Models.User>

<h1>Lista użytkowników</h1>

<a href="/Users/Create" class="btn btn-primary">Dodaj użytkownika</a>

<table class="table mt-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Email</th>
            <th>Data utworzenia</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@user.CreatedAt</td>
            </tr>
        }
    </tbody>
</table>
